---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hey, soy JorgeBDev <Badge>Disponible para trabajar</Badge></h1>
		<h2>
			+1 año de experiencia como Freelancer. Desarrollador web y
			escritorio, editor de videos. De Medellin, Colombia 🇨🇴. Especializao
			en crear aplicaciones únicas.
		</h2>

		<ul></ul>
	</main>
</Layout>
